@keyframes animacao{
    from{background-color: black;height: 3vh;}
    to{ background-color: rgb(47, 35, 58);height: 60vh;}
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color:  rgb(47, 35, 58);
    height: 60vh;
    animation-name: animacao;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    }

/* .principal{

    background-color:  rgb(47, 35, 58);
    height: 60vh;
    animation-name: animacao;
    animation-duration: 3s;
} */

.container{
    height: 55%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 5px;
}
#checkbox-menu{
    position: absolute;
    opacity: 0;

}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 25px;
}

label span{
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background-color: black;
    /* transition: 0.25s ease-in-out; */
}

label span:nth-child(1){
    
    top: 0px;
}

label span:nth-child(2){
    
    top: 8px;
}
label span:nth-child(3){
    
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
   opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}


h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 23px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
}

.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media a{
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    border: 1px solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}

a:hover{
    background-color: aqua;
}

.nav-menu{
    position: absolute;
    top: 58px;
    right: 50px;
    /* background: transparent; */
    /* height: 40px;
    width: 40px; */
    border-radius: 50%;
    /* box-shadow: 0px 0px 0px 0px white; */
    /* z-index: -1; */
    /* visibility: hidden; */
    /* transition: 400ms ease-in-out 0s; */
}
.nav-menu li, a {
    text-decoration: none;
    list-style: none;
}


#checkbox-menu:checked +.nav-menu {
    /* box-shadow: 0px 0px 0px 100vmax aquamarine; */
    /* z-index: 2; */
    visibility: visible;
    /* opacity: 1; */
    /* border-radius: 20px;
    background-color: aqua;*/
} 

#checkbox-menu:checked +.text-menu {
    /* box-shadow: 0px 0px 0px 100vmax aquamarine; */
    z-index: 2;
    /* visibility: visible; */
    /* opacity: 1; */
    /* border-radius: 20px;
    background-color: aqua;*/
} 

.container-text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    left: 20px;
    position: relative;
}

.container-habilidade{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}
/* .habilidade{
    height: 50px;
    width: 200px;
    background-color: brown;
    margin: 10px;

} */

.box{
   
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 15px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
      /* height: 200px;
    width: 200px; */
}
.box-circle svg{
    /* position: relative; */
    /* height: 150px;
    width: 150px; */

}

circle{
    height: 150px;
    width: 150px;
    transform: translate(5px,5px);
    fill: none;
    stroke: black;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: burlywood;
}

circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440*70/100));
    stroke: blue;
   
}
.number{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    z-index: 1;

   
}

svg{
   
    height: 150px;
    width: 150px;
}