@keyframes animacao{
    from{background-color: black;height: 3vh;
    }
    to{ background-color: rgb(47, 35, 58);height: 80vh;
   }
}




.reveal {
    position: relative;
    opacity: 0;
  }
  
.reveal.active {
    opacity: 1;
  }

  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { overflow-x: hidden; }

html, body{
    overflow-x: hidden;
}

.menu{
    background-color:  rgb(47, 35, 58);
    height: 80vh;
    animation-name: animacao;
    animation-duration: 3s;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    }

.container{
    height: 55%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    /* padding: 5px; */
}


.container-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
     padding: 15px;   

}
/* .container-button button{

    height: 25px;
    width: 70px;
    border-radius: 10px;
    background-color: rgb(198, 191, 191);
    
} */
input[id="checkbox-tema"]{
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background-color: rgb(198, 191, 191);
    appearance: none;
    box-shadow: inset 0px 0px 16px 1px rgba(0,0,0, 0.24);
    cursor: pointer;   
    transition: .4s;
    position: relative;
    margin-right: 5px;

}
input:checked[id=checkbox-tema]{
    background-color: #c5eee0;
}
input[id=checkbox-tema]::before{
    content: "";
    height: 25px;
    width: 25px;
    background-color: #EDF3F1;
    border-radius: 50px;
    position: absolute;
    box-shadow: inset 0px 4px 8px 1px rgba(0,0,0, 0.24);
    transform: scale(1.1);
    top: 0;
    left: 0;

}

input:checked[id=checkbox-tema]::before{
    left: 30px;
    transition: .4s;
}


#checkbox-menu{
    position: absolute;
    opacity: 0;

}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 25px;
}

label span{
    position: absolute;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 30px;
    background-color: lightgray;
    /* transition: 0.25s ease-in-out; */
}

label span:nth-child(1){
    
    top: 0px;
}

label span:nth-child(2){
    
    top: 8px;
}
label span:nth-child(3){
    
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
   opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}



h1{
    text-transform: uppercase;
    letter-spacing: 4px;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;

}

.container-text h1{
  
    font-size: 23px;
}
    
.container-text h2{

    font-size: 10px;
    
}

.social-media{
    margin-top: 1rem;
    display: flex;
}

.social-media a{
    text-decoration: none;
    color: aliceblue;
    padding: 1rem;
    border: 1px solid aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;

}



a:hover{
    background-color: rgb(176, 141, 184);;
}

.nav-menu{
    position: absolute;
    top: 58px;
    right: 50px;
    border-radius: 50%;
    visibility: hidden;
   
}
.nav-menu li, a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.text-menu.open::before {
    content: '';
    width: 500px;
    height: 500px;
    background: white;
    display: block;
    border-radius: 50%;
    /* transform: translate(50%, -50%); */
    transition: 1s;
}

.text-menu::before {
    content: '';
    width: 0;
    height: 0;
    transition: 1s;
    border-radius: 50%;
    background: white;
    display: block;
    transform: translate(50%, -50%);
  }
  
.container-text{

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    left: 20px;
    gap:10px;
    position: relative;
}
.container-text h1,.container-text h2{
    color: lightgray;
  
}
.container-text a:hover{
    background-color: rgb(108, 54, 120);;
}


.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    color: black;
   }
   
   .principal h2{
   
       color: rgb(144, 106, 180);
       font-size: 30px;
   }
   .principal div{
       text-align: center;
   }
   
   .principal img{
       background-color: lightgray;
       border-radius: 1000px;
       height: 300px;
   }
   

main{
    display:flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;

}

.container-habilidade{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

.habilidade-text {
    font-size: 30px;
    color: rgb(144, 106, 180);
    display: flex;
    justify-content: center;
  
}


.contatos-text{

    font-size: 30px;
    color: rgb(144, 106, 180);
    display: flex;
    justify-content: center;

}

.contatos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contatos img{
    height: 30px;
    padding: 5px;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
    

}
.projetos div{
    height: 150px;   
    background: linear-gradient(rgb(100, 73, 125),#9198e5);
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translate(-5px,10px);
    border-radius: 5px;

}

.projetos h2{
    transform:  rotateZ(45deg);
}

.projetos-text{

    font-size: 30px;
    color: rgb(144, 106, 180);
    display: flex;
    justify-content:  center;

}

.projetos div:hover {
    /* background-color: #121111; */
    transform: translateY(-2px);
    transition: .5s;
  }

.habilidade-text h2,.contatos-text h2, .projetos-text h2{
    font-size: 30px;
    color: rgb(144, 106, 180);
}



.box{
   
    background-color:rgb(150, 113, 185);
     /* rgba(0, 0, 0, 0.5); */
    border-radius: 5px;
    padding: 15px;

}


circle{
    height: 150px;
    width: 150px;
    transform: translate(5px,5px);
    fill: none;
    stroke: black;
    stroke-width: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
   
}
circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: rgb(207, 207, 207);
    
}

circle:nth-child(2){

    stroke-dashoffset: calc(440px * var(--percent));   
    stroke: rgb(108, 54, 120);
    /* animation: circle ; */
    animation: circle 2s reverse;
   
   
}

@keyframes circle{

    0%{
       
        stroke-dashoffset: calc(440px * var(--percent));
    }

    100%{
        stroke-dashoffset: 440px; 
    }
  
}
.number{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color:rgb(207, 207, 207) ;
    z-index: 1;
    font-size: 10px;

   
}

svg{
   
    height: 150px;
    width: 150px;
}


@media only screen and (min-width: 760px) {


    .principal,.container-habilidade, .projetos{
    
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        /* font-size:1em; */
    }

    .container-habilidade{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;

    }
    
    .contatos-text, .habilidade-text, .projetos-text {
        margin-top: 100px;
        text-align: justify;
        justify-content:flex-start;
        align-items: center;

    }
    .principal img{

        height: 500px;

    }

    .principal div, .habilidade-text, .contatos-text, .projetos-text {
        font-size: 30px;
        padding:0 100px;

    }
    .container-text h1{
        font-size: 50px;
    }

    .container-text h2{
        font-size: 30px;
    }


    

}
